/* Google Font imports */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*-------------------------------  Asterix Wildcard selector to override defauilt styles added by the browser -----------------------------------------------------------------------*/
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/*----------------------------------------------------------------------- General styles -----------------------------------------------------------------------*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    /*----------------------------------------------------------------------- Generic project styles -----------------------------------------------------------------------*/
    color: #000;
    font-family: 'Chakra Petch', sans-serif;
}

h1, h5 {
    font-family: 'Chakra Petch', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: forestgreen;
}

h2, h3{
    font-family: 'Chakra Petch', sans-serif;
    color:yellow;
    padding: 5px;
    margin-left:10px;
    max-width: 90%;
}
 h4 {
    text-align:center;
    padding:5px;
    font-family: 'Chakra Petch', sans-serif;
    text-transform:uppercase;
    color: blue;
 }

/*----------------------------------------------------------------------- Header -----------------------------------------------------------------------*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #252525;
}

/* -----------------------------------------------------------------------Navbar with dropdown menu -----------------------------------------------------------------------*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #252525;
    display: none;
    top: 100%;
    text-align:right;
}

/* -----------------------------------------------------------------------Nav toggle -----------------------------------------------------------------------*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*-----------------------------------------------------------------------  Main content  -----------------------------------------------------------------------*/
main {
    /*------------------------------------- Make main element take up any surplus space to push footer down ---------------------------------------------------------*/
    margin-top: 40px;
}

/*----------------------------------------------------------------------  Index / Home Page  --------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------  The Gamers Background Image  -----------------------------------------------------------------------*/
#the-gamers {
    height:400px;
    width:100%;
    /*-------------------------------------------------------------  Image source unknown  -------------------------------------------------------------------------------*/
    background: url(../images/playing-games.webp) no-repeat top center/cover;
    padding:0 2px;
}


#the-gamers h3 {
    display:flex;
    justify-content: center;
    padding:0 10px;
    text-align: center;
    margin-top: 375px;
    color:forestgreen;
}

/*  ----------------------------------------------------------------------  What is Roleplaying?  ---------------------------------------------------------------*/
#why-roleplay {
    width:100vw;
    display:flex;
    flex-direction: column;
    margin-top:60px;
    text-align: justify;
}

#why-roleplay h5 {
    text-align: center;
    justify-content: center;
    color:brown;
    padding:5px 2px;
    margin:2px;
}

#why-roleplay p {
    background-color: rgb(0,0,0, 0.5);
    color:#ffffff;
}
#what {
    padding:5px 2px;
    margin:2px;
    width: 95%;
}

#why {
    padding:5px 2px;
    margin:2px;
    width: 95%;
}

#why li {
    list-style-type: none;
}

#how {
    padding:5px 2px;
    margin:2px;
}

#how p {
    width: 95%;
}

#why-rpg {
    background-color: rgb(0,0,0, 0.5);
    color:#ffffff;
    margin-bottom: 100px;
}

/*  ----------------------------------------------------------------------  Game On! Page  -----------------------------------------------------------------------*/
/*----------------------------------------------------------------  Game On page gets players in to the games  ----------------------------------------------------*/
#discord-channel {
    width:100vw;
    display:flex;
    flex-direction: column;
    max-height:fit-content;
    align-items:center;
    justify-content: center;
    margin-top: 5px;
}

#discord-channel h2 {
    color:green;
    flex-wrap: nowrap;
    text-align:center;
}

#channel {
    padding: 0 1rem;
    color: green;
    justify-content: space-around;
    font-size: 500%;
    border:2px solid #000;
}

/*------------------------------------------------------------------  Physical Requiremets for Gaaming  -----------------------------------------------------------------*/
/*------------------------------------------------------------------  Image by Nika Benedictova - Pexels.com  ----------------------------------------------------*/
#needs {
    display:flex;
    justify-content: center;
    background:url(../images/game-stuff.jpg) no-repeat center/cover;
}
#needs h2 {
    color: red;
    text-align:center;
}
#needs p {
    color:white;
    background-color: rgb(0,0,0, 0.5);
    padding:5px;
    text-align: justify;
}

/*-------------------------------------------------------------------  Player Character or Games Maaster  ----------------------------------------------------*/
#pcorgm {
    display:flex;
    justify-content: center;
    margin-bottom: 100px;
}

.pc {
    justify-content: center;
    padding:2px;
    border:1px solid #000;
    margin:1px;
    flex-direction: column;
}

/*------------------------------------------  Image of Player Creator: psychee-ange - Credit: psychee-ange on DeviantArt  -----------------------------------*/
#players-image {
    background: url(../images/players.jpg) no-repeat center/cover;
    width:100%;
    height:300px;
}

.gm {
    justify-content: center;
    padding:2px;
    border:1px solid #000;
    margin:1px;
    flex-direction: column;
}

/*------------------------------------------------------  Image of Gary Gygax - wikimedia  -----------------------------------------------------------------------*/
#gm-image {
    background: url(../images/Gary-Gygax.jpeg) no-repeat center/cover;
    width:100%;
    height: 300px;
}

/*  -----------------------------------------------------------------------  The Games page  -----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------  The Games Table will list the Games and a short description  ---------------------------*/
#dice {
    /*--------------------------------------------------------- Creator: rawpixel.com - Credit: rawpixel.com  -----------------------------------------------------*/
    background: url(../images/dice.jpeg) no-repeat center/cover;
    width:100%;
    height:100%;
}

#games-table {
    flex-direction: column;
    padding:2px;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-between;
    margin-top: 50px;
    height: 100vw;}

#games {
    background-color:rgb(0,0,0, 0.7);
}

#games th {
    margin:10px 5px;
    padding: 10px 5px;
    margin:2px;
    border: 1px solid #a0a0a0;
    font-size: large;
}

#games a {
    color:red;
    text-decoration: none;
}

#games td {
    flex-wrap: wrap;
    font-family: sans-serif;
    color: white;
    padding: 10px 5px;
    margin:2px;
    border: 1px solid #a0a0a0;
    text-decoration: none;
    text-shadow: #ffffff 1px 0 10px ;
}

#dnd a {
    color:orangered;
}

#ep a{
    color:lightblue;
}

#wow a {
    color:lightslategray;
}

#cs a {
    color:goldenrod;
}

#ss a {
    color: lightgreen;
}

#afmbe a {
    color:brown;
}
/*-----------------------------------------------------------------------  Join Us Page  -------------------------------------------------------------------------------*/
#join-us {
    display:flex;
    background: url(../images/cellar-door2.jpg) no-repeat bottom right/cover;
    width:100vw;
    height:100vw;
    
}

form {
    color: #000;
    width:100%;
    margin-top:310px;
    padding:20px
}   

form h2 {
    padding:10px;
    color: green;
}

form p {
    margin-bottom:10px;
}

.join-button {
    padding:1rem;
    margin-bottom:125px;
}
/*-----------------------------------------------------------------------  Thanks Page  -------------------------------------------------------------------------------*/
#thanks {
    /*--------------------------------------------------Image Creator: Chronamut - Credit: Chronamut on DeviantArt ------------------------------------------------------*/
    background:url(../images/thanks.jpg) no-repeat center/cover;
    flex-direction:column;
    width: 100vw;
    height: 600px;
    margin-bottom:75px;
}

#thanks h3 {
    color:darkred;
    font-family:'Chakra Petch', sans-serif;
    text-decoration: none;
    flex: grow 1;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 300px;
}

.message-box {
    border:2px solid white;
}

#message {
    text-align: center;
    justify-content: center;
    font-family:'Chakra Petch', sans-serif;
    text-decoration: none;
    padding:10px;
    font-size: large;}

#message a {
    text-decoration: none;
    color:red;
    border: 1px solid #ffffff;
}

#contact {
    color: lightcoral;
    padding:20px;
    background-color:rgb(0, 0, 0, 0.7);
}

#join-in {
    color:lightcoral;
    padding:20px 50px;
    text-decoration: none;
    background-color:rgb(0, 0, 0, 0.7);

}

/*-----------------------------------------------------------------------  Footer  -------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------  Create Community to wrap the rest of the Footer together  ----------------------------------*/
#community {
    background-color: #ffffff;
    display:flex;
    width:100%;
    padding: 1em;
    text-align: center;
    justify-content: center;
    position:fixed;
    bottom: 0;
    right: 0;
	z-index: 3;
    border:1px solid #000;
}

#social-media {
    display:flex;
    width: 100%;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    padding: 1rem 1rem;
    color: darkgreen;
    font-size: 225%;
}

/*--------------------------------------  Media query for tablets and larger (768px<) - code used from Love Running  ------------------------------------------------------*/
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    /*------------------------------------------------------------------------  Main  Content  --------------------------------------------------------------------------*/
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 50px;
    }

    /*------------------------------------------------------------------------  Game On Page  ----------------------------------------------------------------------------*/
    #gm-image {
        background: url(../images/Gary-Gygax.jpeg) no-repeat center top/cover;
    }
    
    /*------------------------------------------------------------------------ The Games Page  ----------------------------------------------------------------------------*/
    #dice {
        background: url(../images/dice.jpeg) no-repeat bottom center/cover;
        width:100%;
        max-height:768px;
    }

    /*------------------------------------------------------------------------ Join Us Page  ----------------------------------------------------------------------------*/
    #join-us {
        background: url(../images/cellar-door2.jpg) no-repeat center right/cover;
        position:fixed;
        max-height: 786px;
    }

    form {
        color:#ffffff;
    }

    #thanks {
        background:url(../images/thanks.jpg) no-repeat top center/cover;
        flex-direction:column;
        width: 100vw;
        height: 600px;
        margin-bottom:75px;
    }
}

/*---------------------------------------------------  Large devices (laptops and larger (992px<) also used from Love Running  -------------------------------------------*/
@media screen and (min-width: 992px) {
    /*------------------------------------------------------  Create hover funtion for laptop and pc  --------------------------------------------------------------------*/
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }

    #thanks h3 {
            color:red;
            margin-bottom: 500px;
    }
}