/* Google Font imports */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* favicons */

/*  Asterix Wildcard selector to override defauilt styles added by the browser */
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/*  General Styling  */
body {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    
    /* Generic styling */
    color: #fafafa;
    font-family: 'Chakra+Petch', sans-serif;
}

/*  headers */
h1 {
    width:100%;
    text-align: center;
    padding: 5px;
    font-family: 'Chakra+Petch', sans-serif;
    text-decoration: none;
    justify-content: center;
}

h4 {
    text-align: center;
    line-height: 30px;
    width:100%;
    background-color: burlywood;
}

/* Header */
header {
    text-decoration: none;
    background-color: #000000;
    flex-direction: column;
    flex-wrap: no-wrap;
    text-align: center;
    width:100%;
    justify-content: space-between;
    align-items:baseline;
}

nav{
    width:100%;
    padding:2px;
    background-color:burlywood;
    text-transform: uppercase;
    text-decoration: none;
    top:100%;
}

#menu {
    flex-direction:row;
    list-style-type:none;
    letter-spacing:2px;
    text-align:justify;
    width:100%
}

#cellar-door {
    background: url(../images/playing-games.webp) no-repeat center/cover;
    width:100%;
    height: 400px;
    
}

/* Footer  */
#social-media {
    width:100%;
    text-align: center;
    padding: 10px 0;
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    padding: 5%;
    color:#000000;
}
