/* Google Font imports */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*  Asterix Wildcard selector to override defauilt styles added by the browser */
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/*  General Styling  */
body {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    
    /* Generic styling */
    color: burlywood;
    font-family: 'Chakra+Petch', sans-serif;
}

/* Header */
header {
    text-decoration: none;
    background-color: burlywood;
    text-align: center;
    width:100%;
    z-index:99;
    display:flex;
    justify-content: space-between;
    align-items:baseline;
}

header a {
    text-decoration: none;
    color:inherit;
}

/*  Headings */
h1 {
    font-family: 'Chakra+Petch', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#000000;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu li {
    margin-bottom: 1em;
}


.active {
    border-bottom: 1px solid #fafafa;
}

p {
    color:#fafafa;
    padding-top:10px;
    text-align: left;
}

/* Navigation Section */
nav {
    position:absolute;
    background-color: #fafafa;
    width:100%;
    left:0;
    padding:0 1rem;
    box-shadow: 0 2px 2px #000000;
    top: 100%;
    display: none;
}

/*  Navbar Dropdown Toggle  */
#nav-toggle:checked~nav {
    display: block;
}

#navbar {
    display:none;
}

.navbar-label {
    font-size:2rem;
}

nav a {
    text-decoration: none;
    color: inherit;
}


nav li {
    list-style-type: none;
    color:#000000;
    text-decoration: none;
}

/* Hero Image */
#cellar-door {
    background: url(../images/playing-games.webp) no-repeat center/cover;
    width: 100vw;
    height: 400px;
    
}

/* Footer  */
h5 {
    text-align: center;
    line-height: 30px;
    width:100%;
    background-color:#000000;
}

#social-media {
    width:100%;
    text-align: center;
    padding: 10px 0;
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
    color:#000000;
}

#social-media i {
    padding: 5%;
    color:#000000;
    font-size: 200%;
}
